[Unit]
Description=Python CM4 Fan Controller
After=multi-user.target

[Service]
Type=simple
WorkingDirectory=/home/alan/python-cm4-fan-controller/
ExecStart=sudo python controller.py
KillSignal=SIGINT
Restart=on-failure

[Install]
WantedBy=multi-user.target
